In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *

In [2]:
spark = SparkSession.builder.appName("loans") \
.master("spark://10.208.36.84:7077") \
.config("spark.hadoop.defaultFS","hdfs://10.208.36.84:9000") \
.config("spark.sql.warehouse.dir","/home/hadoop/spark_workspace/shared_folder/tushar/Tables_data")\
.config("spark.executor.cores",2) \
.config("spark.executor.memory","4g") \
.config("spark.cores.max","8") \
.enableHiveSupport() \
.getOrCreate()

Warning: Ignoring non-Spark config property: spark
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/03/21 12:26:40 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [3]:
spark.sql("use project_trendy")

DataFrame[]

In [5]:
spark.sql("show tables").show()

+--------------+--------------------+-----------+
|     namespace|           tableName|isTemporary|
+--------------+--------------------+-----------+
|project_trendy|           customers|      false|
|project_trendy|      customers_loan|      false|
|project_trendy|    customers_loan_v|      false|
|project_trendy|               loans|      false|
|project_trendy|loans_defaulters_...|      false|
|project_trendy|loans_defaulters_...|      false|
|project_trendy|    loans_repayments|      false|
+--------------+--------------------+-----------+

In [7]:
spark.sql("drop table project_trendy.customers")

DataFrame[]

In [8]:
spark.sql("""create external table project_trendy.customers (member_id string, emp_title string,
emp_length int, home_ownership string, annual_income float, address_state string, address_zipcode string,
address_country string, grade string, sub_grade string, verification_status string, total_high_credit_limit
float, application_type string, join_annual_income float, verification_status_joint string) stored
as parquet location '/home/tushar/Documents/project/cleaned_customer/parquet' """)

DataFrame[]

In [9]:
spark.sql("""create external table project_trendy.new_customer(member_id string, emp_title string,
emp_length int, home_ownership string, annual_income float, address_state string, address_zipcode string,
address_country string, grade string, sub_grade string, verification_status string, total_high_credit_limit
float, application_type string, join_annual_income float, verification_status_joint string) stored as parquet
location '/home/tushar/Documents/project/removed_bad_data/customer/' """)

DataFrame[]

In [10]:
spark.sql("""
CREATE EXTERNAL TABLE
project_trendy.new_loans_defaulters_delinq(member_id
string,delinq_2yrs integer,delinq_amnt float,mths_since_last_delinq integer)
stored as parquet
LOCATION
'/home/tushar/Documents/project/removed_bad_data/default_detail'
""")

DataFrame[]

In [5]:
spark.sql("drop table project_trendy.new_loans_defaulters_detail_rec_enq")

DataFrame[]

In [6]:
spark.sql("""
CREATE EXTERNAL TABLE
project_trendy.new_loans_defaulters_detail_rec_enq(member_id string,
pub_rec integer, pub_rec_bankruptcies integer, inq_last_6mths integer) stored
as parquet
LOCATION
'/home/tushar/Documents/project/cleaned_def_enq_detail/parquet'
""")

DataFrame[]

In [11]:
spark.sql("select * from project_trendy.loans_repayments limit 2").show()

+---------+------------------------+-----------------------+-----------------------+----------------------+-------------------+-----------------+-----------------+--------------------+
|  loan_id|total_principal_received|total_interest_received|total_late_fee_received|total_payment_received|last_payment_amount|last_payment_date|next_payment_date|         ingest_date|
+---------+------------------------+-----------------------+-----------------------+----------------------+-------------------+-----------------+-----------------+--------------------+
|113822370|                 6778.08|                2543.93|                    0.0|               9322.01|              333.6|         Mar-2019|         Apr-2019|2024-03-21 11:55:...|
|113819258|                  3600.0|                 474.95|                    0.0|             4074.9456|            1625.64|         Mar-2019|             null|2024-03-21 11:55:...|
+---------+------------------------+-----------------------+-----------------------+----------------------+-------------------+-----------------+-----------------+--------------------+